.page_layout__container {
  padding-top: $base50 + 23;
}
.privacy_terms__page{
  .privacy_terms_title{
    padding-top: $base30 * 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .privacy_terms_content{
      padding:$base30;
      h4{
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #293c47;
        font-family: $font-proximaBold ;
      }
      p{
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #293c47;
        font-family: $font-proximaLight;
      }
  }

}



// findout more scss
.find_out_more_conatiner {
  margin-top: $base20;
  .close_mark {
    position: absolute;
    right: 0;
    margin: 0 $base20;
  }
  .findout_more_image_section {
    text-align: center;
    img {
      width: 187px;
    }
  }
  .findout_more_title {
    font-family: $font-OpenSans-Light;
    font-size: 35px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #37353f;
    padding: $base20 + 4;

    strong {
      color: $color-customer;
    }
  }
  .findout_more_points {
    font-family: $font-OpenSans-Semibold;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #37353f;
    li {
      margin-bottom: $base15;
    }
  }
}


// 404page
.page_not_found__layout {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .page_not_found__layout__images {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .page_not_found_number {
      margin-top: 6%;
      margin-bottom: -17%;
    }
  }
  p {
    font-family: OpenSans-Semibold;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #040404;
    margin-top: 15px;
  }

  button {
    cursor: pointer;
    padding: 4% 12%;
    border: none;
    
    border-radius: 32px;
    background-color: #2ab673;
    font-family: OpenSans-Semibold;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 39px;
    a {
      color: #fff;
    }
  }
}


// service text colors
.consumer_text_color {
  color: $color-customer;
}
.toll_text_color {
  color : $color-toll;
}
.metro_text_color {
  color : $color-metro;
}
.parking_text_color {
  color : $color-parking;
}
.residence_text_color {
  color : $color-residence;
}
.retail_text_color {
  color : $color-retail;
}
.education_text_color {
  color : $color-education;
}
.office_text_color {
  color : $color-office;
}
.bus_text_color {
  color : $color-bus;
}
.railways_text_color {
  color : $color-railways;
}
.access_text_color {
  color : $color-access;
}
.loyalty_text_color {
  color : $color-loyalty;
}
