.Corporate_main-section{
	margin-top: 39px;
	.corporate-sub-content {
	  background: #f8f6f8;
	 	//height: 590px;
	 	background-image: linear-gradient(2deg, rgba(248, 246, 248, 0) 0%, #f8f6f8 65%);
		padding: $base20;
		padding-bottom: $base50;

	  .image--content {
			display: flex;
	    flex-direction: column;
	    align-items: center;

	    img {
		    width: auto;
	    }
		}
		.first-content {
		  // width: 90%;
		  // padding: 0% 0% 2% 9%;
    	margin-top: 7%;

		  p {
				font-size: 35px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.33;
				letter-spacing: normal;
				text-align: right;
				color: #37353f;
				font-family : $font-OpenSans-Light;

				strong {
					color : #2bb673;
				}
		  }
		}
		.second-content {
			width: 100%;
			text-align: center;

			span {
				font-size: 17px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.67;
				letter-spacing: normal;
				text-align: right;
				color: #37353f;
				font-family : $font-OpenSans-Light;
			}
		}
	}
}
.Corp-main-div {
	height: 777px;

	.banner-green {
		background: #2bb673;
    padding: 5% 0%;
    text-align: center;

    span {
	    font-size: 16px;
	    font-weight: bold;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.2;
	    letter-spacing: normal;
	    text-align: left;
	    color: #ffffff;
	    font-family : $font-OpenSans-Bold;
    }
	}
}
.logo-button-div {
	padding: 9% 13% 0% 13%;

	.log-button-sub-div {
		background-image: linear-gradient(2deg, rgba(248, 246, 248, 0) 0%, #f8f6f8 65%);
    text-align: center;
    padding: 15% 0 0 0;


    button {
	    font-size: 17px;
	    background: #2bb673;
	    margin-top: 7%;
	    padding: 5% 12%;
	    width: 100%;
	    display: flex;
	    border-radius: 36px;
	    font-weight: 600;
	    font-stretch: normal;
	    font-style: normal;
	    color: #ffffff;
	    justify-content: space-between;
	    align-items: center;
	    font-family : $font-OpenSans-Semibold;
    }
	}
}
.corp_custom_ribbon {
	::after {
		display : none !important;
	}
}
