html {
  scroll-behavior: smooth;
}
.main_header {
  position: fixed;
  width: 100%;
  z-index: 9;
  top:0;
}
.header_layout {
  background-color: $color-white;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  height: 59px;
  nav {
    width: 20%;
    button {
      border: none;
      color: $color-black;
    }
  }
  .header_layout__logo {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
.overlaymenu {
  height:100vh;
  opacity: 1;
  top:0;
  width:100%;
  background-color:$color-black;
  color: $color-white;
  z-index: 1;
}

.overlay__header {
  height: 73px;
  background-color: #faf9fb;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .overlay__header--logo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 110px;
    }
  }
}
.overlaymenu__list {
  padding: $base10 * 2;
  background: #2bb673;
  p {
    font-family: $font-OpenSans-Semibold;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    a {
      color: $color-white;
    }

    &:hover, &:active {
      border-radius: 28.5px;
      border: solid 1px #47bd7d;
    }
  }
}
.footer-modal-section {
  bottom: 15%;
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  p{
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #f8f6f8;
    width: 57%;
    font-family: $font-OpenSans-Light;
    margin-bottom : auto;
  }
  span {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #f8f6f8;
    width: 57%;
    font-family: $font-OpenSans-Bold;
  }
}

.common_headr {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);

  .header_layout {
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    justify-content: space-around;

    .header_layout__logo {
      width: 23% !important;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .a-service-category {
    font-size: 13PX;
    color: #898989;

    &.active{
      button {
        color: #2bb673 !important;
      }
    }
      button {
        border: none;
        background: white;
        color: #838383;
        font-size: 11px;
        font-family: $font-OpenSans-Bold;
        outline: none;

        &:active {
          color: #2bb673;
        }
      }
  }
  .header_layout nav {
    width: max-content !important;
    padding: inherit !important;

    button {
      padding: 6px !important;
      outline : none;
    }
  }
}
.carousel-root {
  position: unset !important;
}
.corporate__menu_list {
  justify-content: center !important;
}
[data-reach-menu], [data-reach-menu-popover]{
  position: absolute;
  left: 0 !important;
  width: 100%;
}
[data-reach-menu-list], [data-reach-menu-items] {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  padding: 1rem 1rem;
  margin-top: 18px;
}

[data-reach-menu-item]{
  background: none !important;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: left;
  font-family: $font-OpenSans-Bold;
  color: #838383;
  padding: 5px 11px !important;

  a {
    color : grey;

    &:active {
      color : #2bb673;
    }
    &:hover {
      color : #2bb673;
    }
  }
}
[data-reach-menu-item][data-selected] {
  color: #2bb673;
}
.overlaymenubutton {
  margin-right: 6px;
  background: none;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: #707070;
}


// merchant services header
.merchant__submenu_list {
  padding: 0 !important;
  //padding-bottom: 0 !important;
}
.drop_down_menu {
  width: 100%;
  .drop_down_menu__payments,
  .drop_down_menu__access,
  .drop_down_menu__loyality {
    font-family: $font-OpenSans-Bold;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.18;
    text-transform: uppercase;
    background-color: #46bf85;
    width: 100%;
    color: #fff;
    padding: 11px 10px;

    p {
      margin: 0;
    }
  }
  .drop_down_menu__access {
    border-top: solid 0.3px #ffffff;
    border-bottom: solid 0.3px #ffffff;
  }
  .drop_down_menu__payments {
    padding: 0 !important;
    p {
      padding: $base10;
    }
    .payments_drop_down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        padding: 0 $base15;
      }
    }
  }
  .payments_submenu_list {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 70px;
      margin: 9px;
    }
  }
}
