.Merchant_main {
	padding: 6% 0%;
}
.Merchant_main-section{
	margin-top: 53px;
}
.merchant_feature_block {
	text-align: center;
	font-family: $font-OpenSans-Regular;
	margin-bottom: 26px;
	margin-top: 20px;
}
.merchant_feature_block_img {
	background-image: linear-gradient(132deg,#227360 15%,rgba(20,85,70,.89) 36%,#279660 64%,#2bb673 84%);
  background-color: #e8e8e8;
  border-radius: 50%;
  width: 213px;
  height: 213px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #efefef;
  margin: auto;
  cursor: pointer;
	img {
		width: 167px;
	}
}
.service__circle_view_mer {
	margin: 12px 5px !important;

	img{
	    height: 91px !important;
	}
}
.mer_payment_cir {
	width: 93px !important;;
  height: 93px !important;;
  margin: 17px 9px !important;;

}
.mer_services__circle_layout {
	padding: 0% 4%;

	.mer_service__circle_view {
		margin: 20px 27px !important;;

		img {
			height: 95px !important;;
		}
	}
}
.Merchant_sub-section {
	padding-top: 53px;
}
.service-merchant-image {
	img {
		width : 100%;
	}
}
.mer_find_out {
  padding: 2.5% 6% !important;
  margin-bottom: 8% !important;
}
.merchant-feature_block_border {
	border-radius: 50%;
  width: 237px;
  height: 237px;
  display: flex;
  border: 2px solid #efefef;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
 }
