.merchant_feature_info_page {
  padding: 0 $base20;
  .close__mark {
    position: absolute;
    right: 0;
    margin: $base15+2;
  }
  .service__feature_image {
    width: 100px;
    position: relative;
    left: -33px;
    top: -15px;
  }
}
.feature_info_contnet {
  .feature_section_title {
    font-family: $font-OpenSans-Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: $base20+8;
    text-transform: uppercase;
  }
  p {
    font-family: $font-OpenSans-Light;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #707070;

  }
  ul{
    text-align: left;
    width: 250px;
    margin: 15px auto;
  }

}
.feature_divide_line {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  img{
    width:100%;
  }
}
