.merchant_product_info_page {
  padding: 0 $base20;
  .close__mark {
    position: absolute;
    right: 0;
    margin: $base15+2;
  }
  .product_info_image {
    padding-top: $base50+5;
    text-align: center;
  }
  .about_product_info {
    padding-top: $base20;
    h4 {
      font-family: $font-OpenSans-Bold;
      font-size: 14px;
      font-weight: 800;
      line-height: 1.4;
      color: #515356;
    }
    p {
      font-family: $font-OpenSans-Regular;
      font-size: 15px;
      line-height: 1.42;
      color: #515356;
    }

  }

  .product_description {
    h4 {
      font-family: $font-OpenSans-Bold;
      font-size: 16px;
      line-height: 1.38;
      color: #515356;
    }
    p{
      font-family: $font-OpenSans-Regular;
      font-size: 14px;
      line-height: 1.71;
      color: #000000;

    }
  }

  .product_Services_info {
    h4 {
      font-family: $font-OpenSans-Bold;
      font-size: 16px;
      line-height: 1.38;
      color: #515356;
    }
    p{
      font-family: $font-OpenSans-Regular;
      font-size: 14px;
      line-height: 1.71;
      color: #000000;
    }
    span {
      font-family: $font-OpenSans-Regular;
      font-size: 14px;
      font-style: italic;
      line-height: 1.36;
      letter-spacing: 0.7px;
      color: #515356;
    }
  }
}
.product_more_info {
  padding-top: $base20;
}
.product__information {
  border: solid 1px #cccccc;
  background-color: #ffffff;
  margin-bottom: $base20;

  .product__information_details {
    display: flex;
    border-bottom: 2px solid #ccc;
    //padding: 10px;
    h4 {
      font-family: $font-OpenSans-Bold !important;
      color: #515356 !important;
      font-size: 14px !important;
    }
    .information_details__key,
    .information_details__value {
      font-family: $font-OpenSans-Regular;
      font-size: 13px;
      color: #5d5e5f;
    }

    .information_details__key {
      width: 30%;
      background-color: #e4e8f4;
      padding: $base10;
      margin: 0;
    }
    .information_details__value {
      width: 70%;
      padding: $base10;
      margin: 0;
    }
  }
  .note__points {
    padding: $base10;
    font-family: $font-OpenSans-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #5d5e5f;
    p {
      margin-bottom: 0;
    }
  }
}
