.landing_first_section {
  height: 100%;
}
.image_section {
  background-color: #242548;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 70%;
  img {
    height: 100%;
  }

  p {
    font-family: $font-proximaSemibold;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
}

.landing_page {
  overflow-y: scroll;
}

.landing_page_header {
  position: fixed;
  left: 0px;
  right: 0px;
  height: $base50 + $base10;
  background: #222444;
  z-index: 1;
  display: flex;
  align-items: center;
  padding:$base10 $base20;
  img {
    touch-action: auto;
  }
}

.time_section{
  height: 30%;
  background-color: #f4f2f8;
  //background: linear-gradient( -66deg, #f4f2f8 0%,  #f4f2f8 calc(50% - 3px), #89c14b 50%,  #f4f2f8 calc(50% + 0.8px),  #f4f2f8 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h4 {
    font-family: $font-proximaRegular;
    font-size: 28px;
    letter-spacing: 1.4px;
    color: $color-black;
  }
  h1 {
    padding-left: 12px;
    font-family: $font-proximaBold;
    font-size: 33px;
    line-height: 0.97;
    letter-spacing: 2.26px;
    color: $color-black;
    text-transform: uppercase;
  }
}


.office_section{
  background-color: #ffffff;
  height:100%;
  .office_section_bgimage{
    height:50%;
    .bg_image{
      height:100%;
      width:100%;
    }
    .office_section_logo{
      position: relative;
      top: -55px;
      //left: 13%;
      padding: 0 36px;
    }
  }
  .office_section_scrollsection{
    height:50%;
    color:$color-office ;
    padding: 10%;

    .office_section_carousel{

      height:100%;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 28px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          color: $color-office;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 16px;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: normal;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-office;
        }
        .active{
          background-color: #0b0b5d;
        }
      }
      .carousel-item{
        color:$color-office;
      }
    }
  }
}

.parking_section{
  background-color: #ffffff;
  height:100%;
  .parking_section_bgimage{
    height:50%;
    .bg_image{
      height:100%;
      width:100%;
    }
    .parking_section_logo{
      position: relative;
      top: -55px;
      //left: 13%;
      padding: 0 36px;
    }
  }
  .parking_section_scrollsection{
    height:50%;
    color:$color-parking ;
    padding: 10%;

    .parking_section_carousel{

      height:100%;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 28px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          color: $color-parking;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 16px;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: normal;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-parking;
        }
        .active{
          background-color: #22beb9;
        }
      }
      .carousel-item{
        color:$color-parking;
      }
    }
  }
}


.bus_section{
  background-color: #ffffff;
  height:100%;
  .bus_section_bgimage{
    height:50%;
    .bg_image{
      height:100%;
      width:100%;
    }
    .bus_section_logo{
      position: relative;
      top: -55px;
      //left: 13%;
      padding: 0 36px;
    }
  }
  .bus_section_scrollsection{
    height:50%;
    color:$color-bus ;
    padding: 10%;

    .bus_section_carousel{

      height:100%;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 28px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          color: $color-bus;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 16px;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: normal;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-bus;
        }
        .active{
          background-color: #8c58d0;
        }
      }
      .carousel-item{
        color:$color-bus;
      }
    }
  }
}


.toll_section{
  background-color: #ffffff;
  height:100%;
  .toll_section_bgimage{
    height:50%;
    position: relative;
    padding-top: 70px;
    .bg_image{
      height:100%;
      width:100%;
    }
    .toll_section_name{
      position: absolute;
      //top: 60px;
      left: 6%;
      h1{
        color:$color-toll;
        font-size: $font-proximaBold;
        font-size: 35px;
         font-weight: bold;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
      }

    }
  }
  .toll_section_scrollsection{
    height:50%;
    color:$color-toll ;
    padding: 10%;

    .toll_section_carousel{
      height:100%;
      background-color: #f4f2f8;
      padding:20px;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 23px;
          font-weight: bold;
          text-transform: uppercase;
          color: $color-toll;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 15px;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-toll;
        }
        .active{
          background-color: #c44547;
        }
      }
      .carousel-item{
        color:$color-toll;
      }
    }
  }
}


.retail_section{
  background-color: #ffffff;
  height:100%;
  .retail_section_bgimage{
    height:50%;
    position: relative;
    padding-top: 70px;
    .bg_image{
      height:100%;
      width:100%;
    }
    .retail_section_name{
      position: absolute;
      //top: 60px;
      left: 6%;
      h1{
        color:$color-retail;
        font-family: $font-proximaBold;
        font-size: 35px;
         font-weight: bold;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
      }

    }
  }
  .retail_section_scrollsection{
    height:50%;
    color:$color-retail ;
    padding: 10%;

    .retail_section_carousel{
      height:100%;
      background-color: #f4f2f8;
      padding:20px;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 23px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          color: $color-retail;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 15px;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: normal;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-retail;
        }
        .active{
          background-color: #c44547;
        }
      }
      .carousel-item{
        color:$color-retail;
      }
    }
  }
}

.education_section{
  background-color: #ffffff;
  height:100%;
  .education_section_bgimage{
    height:50%;
    position: relative;
    padding-top: 70px;
    .bg_image{
      height:100%;
      width:100%;
    }
    .education_section_name{
      position: absolute;
      //top: 60px;
      left: 6%;
      h1{
        color:$color-education;
        font-family: $font-proximaBold;
        font-size: 35px;
         font-weight: bold;
      }

    }
  }
  .education_section_scrollsection{
    height:50%;
    color:$color-education;
    padding:5% 10%;

    .education_section_carousel{
      height:100%;
      background-color: #f4f2f8;
      padding:20px;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 23px;
          font-weight: bold;
          text-transform: uppercase;
          color: $color-education;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 15px;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-education;
        }
        .active{
          background-color: #c44547;
        }
      }
      .carousel-item{
        color:$color-education;
      }
    }
  }
}

.residence_section{
  background-color: #ffffff;
  height:100%;
  .residence_section_bgimage{
    height:50%;
    position: relative;
    padding-top: $base10 * 7;
    .bg_image{
      height:100%;
      width:100%;
    }
    .residence_section_name{
      position: absolute;
      //top: 60px;
      left: 6%;
      h1{
        color:$color-residence;
        font-family: $font-proximaBold;
        font-size: 35px;
        font-weight: bold;
      }

    }
  }
  .residence_section_scrollsection{
    height:50%;
    color:$color-residence ;
    padding: 5% 10%;

    .residence_section_carousel{
      height:100%;
      background-color: #f4f2f8;
      padding:20px;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 23px;
          font-weight: bold;
          text-transform: uppercase;
          color: $color-residence;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 15px;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-residence;
        }
        .active{
          background-color: $color-residence;
        }
      }
      .carousel-item{
        color:$color-residence;
      }
    }
  }
}


.metro_section{
  background-color: #ffffff;
  height:100%;
  .metro_section_bgimage{
    height:50%;
    .bg_image{
      height:100%;
      width:100%;
    }
    .metro_section_logo{
      position: relative;
      top: -55px;
      //left: 13%;
      padding: 0 36px;
    }
  }
  .metro_section_scrollsection{
    height:50%;
    color:$color-metro ;
    padding: 10%;

    .metro_section_carousel{

      height:100%;
      .carousel{
        height:100%;
      }
      .corusel_content{
        height:70%;
        h1{
          font-family: $font-proximaBold;
          font-size: 28px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          color: $color-metro;
        }
        p{
          font-family: $font-proximaRegular;
           font-size: 16px;
           font-weight: normal;
           font-stretch: normal;
           font-style: normal;
           line-height: normal;
           letter-spacing: 1.12px;
           color: #222444;
           padding-top:10px;
        }
      }
      .carousel-indicators {
        margin-bottom: -18px;
        z-index: 0;
        li{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-metro;
        }
        .active{
          background-color: #65a4f1;
        }
      }
      .carousel-item{
        color:$color-metro;
      }
    }
  }
}


.contact_section{
  padding-top:60px;
  background-color: #242548;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contact_img{
    img{
      width:100%;
    }
  }
  .contact_content{
    text-align:center;
    color: $color-white;
    a{
      color: $color-white;
    }
    h4{
      font-family: $font-OpenSans-Bold;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .contact_content_divider{
      width:25%;
      border-bottom: 2px solid green;
      margin: 15px auto;
    }
    .contact_content_address{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.contact-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0% 10%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

  p{
    margin-bottom: auto;
    font-size: 16px;
  }
  address {
    font-size: 13px;
    font-family: $font-proximaRegular;
    color:$color-white;
  }
}
.base-landing-page {
  display: flex;
  height: 18%;
  background: #2bb673;
  position: absolute;
  width: 100%;

  .contact_content_agreement {
    background: white;
    height: 86%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0% 0% 0% 10%;

    a {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      font-family: Proxima-Regular;
    }
  }

}
 .contact_content_social {
  background: white;
  height: 86%;
  padding: 0% 0% 0% 8%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 50%;

  p{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 0.5rem !important;
  }

  .contact_content_social_img{
    width: 76%;
    display: flex;
    justify-content: space-between;
    
    img {
        height: 17px;
    }
  }
}