.thumbs-wrapper{
	display : none;
}
.consumer__section{
	padding-top:59px;
}
.slider-wrapper {
	margin-top: 10% !important;
	height: 100%;

	ul {
		height: 100%;
	}
}
.carousel-root {
	height: 100%;
  position: absolute;

  .carousel-slider {
  }
}
.carousel__home_page {
	.carousel.carousel-slider .control-arrow,
	.carousel .carousel-status {
		display: none;
	}
}
.Consumer_main {
	background-color: #f8f6f8;
}

.Consumer_main-section{
	/* margin-top: 53px;*/
	.consumer-sub-content {
	  background: #f8f6f8;
	 	height: 685px;

	  .image--content {
		  display: flex;
	    flex-direction: column;
	    align-items: center;

	    img {
		    width: 200px;
	    }
		}
		.first-content {
		  width: 90%;

		  p {
				font-size: 44px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.33;
				letter-spacing: normal;
				text-align: right;
				color: #37353f;
				font-family : $font-OpenSans-Light;

				strong {
					color : #2bb673;
				}
		  }
		}
		.second-content {
			width: 100%;
			text-align: end;
			padding: 0% 10% 0% 12%;
			span {
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.67;
				letter-spacing: normal;
				text-align: right;
				color: #37353f;
				font-family : $font-OpenSans-Light;
			}
		}
	}
}
.more-details-button {
	margin-top: 3%;
	text-align : center;

	button {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    background: #2bb673;
    color: #ffffff;
    padding: 2% 4%;
    border-radius: 22.5px;
    background-color: #2bb673;
    font-family : $font-OpenSans-Light;
    border : none;
		a {
			color: #fff !important;
		}
	}
}
.control-dots {
	padding: 0% 2%;
	.dot{
 		background: #707070 !important;
    border-radius: 17px !important;
    width: 12px !important;
    height: 11px !important;
    border: none !important;
	}
}
.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  background : #2bb673 !important;
}


// consumer fature section styles
.section__ribbon {
	height: 60px;
	background-color: #2bb673;
	text-align: center;
	padding: 19px;
	text-transform: uppercase;
	font-family: $font-OpenSans-Bold;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
	position: relative;
	::after {
		border-right: solid 10px transparent;
	  border-left: solid 10px transparent;
	  border-top: solid 15px #2bb673;
	  transform: translateX(-50%);
	  position: absolute;
	  content: '';
		top:97%;
	  left: 50%;
	  height: 0;
	  width: 0;
	}
}
.sub_section_title {
	font-size: 23px;
  line-height: 1.35;
  text-align: center;
  color: #000000;
	margin: 24px 26px;
}
.consumer_feature_block {
	text-align: center;
	font-family: $font-OpenSans-Regular;
	margin-bottom: 39px;
	margin-top: 20px;
}
.consumer_feature_block_img {
	background-color: #e8e8e8;
  border-radius: 50%;
  width: 234px;
  height: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #efefef;
  margin: auto;
  cursor: pointer;
	img {
		width: 217px;
	}
}
.feature_block_title {
	font-size: 22px;
  line-height: 1.36;
  color: #000000;
	margin: 16px auto;
	text-transform: uppercase;
}
.feature_block_text{
	font-size: 18px;
  line-height: 1.38;
  color: #000000;
  margin: 20px 27px;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 34px;
}

// consumer services section
.Consumer_services_section{
	padding-bottom: 70px;
	.carousel-indicators {
		bottom: -20px;
		margin-bottom: 0 !important;
		li {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: #707070;
			margin-right: 25px;
		}
		.active {
			background-color: #2bb673;
		}
	}
}
.carousel__title {
	font-family: $font-OpenSans-Bold;
  font-size: 25px;;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding: 25px;
  margin: 0;
}
.services__circle_layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service__circle_view {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 9px;
	img {
		height: 60px;
		width: auto !important;
	}
	// .service_hover {
	// 	display: none;
	// }
	.service_non-hover {
		display: none;
	}
	// &:hover {
	// 	.service_non-hover {
	// 		display: none;
	// 	}
	// 	.service_hover {
	// 		display: block;
	// 	}
	// }
}

.toll_circle_view {
  border: 2px solid $color-toll;
  background-color: $color-toll;
}

.bus_circle_view {
  border: 2px solid $color-bus;
  background-color: $color-bus;

}
.parking_circle_view {
  border: 2px solid $color-parking;
  background-color: $color-parking;
}
.metro_circle_view {
  border: 2px solid $color-metro;
  background-color: $color-metro;
}
.railways_circle_view {
  border: 2px solid $color-railways;
  background-color: $color-railways;
}
.education_circle_view {
  border: 2px solid $color-education;
  background-color: $color-education;
}
.retail_circle_view {
  border: 2px solid $color-retail;
  background-color: $color-retail;
}

.access__circle_view,
.loylity__circle_view {
  img {
    height: 109px;
  }
}

.slide_bottom_text {
	font-family: $font-OpenSans-Semibold;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 30px 54px;
}


// consumer joinus_form_section
.joinus__form_header_title {
	display: flex;
	//height: 400px;
	background-color: #38539b;
}
.consumer_landing_joinus_container {
	padding-top: 17px;
}
.joinus__fom_content {
	color: #fff;
	padding: 20px;
	width: 50%;
	h3 {
		font-family: $font-OpenSans-Bold;
	  font-size: 40px;
	  line-height: 1.38;
	}
	p{
		font-family: $font-OpenSans-Semibold;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.32px;
	}
}
.joinus__fom_content_image {
	width: 50%;
	img {
		margin-top: 23px;
    width: 100%;
	}
}

.Consumer_scope_section{
	.carousel-indicators{
		display: none;
	}
	.consumer__scope__slide{
		text-align: center;
		background-repeat: no-repeat;
		background-position: center;
		height: 70vh;
		background-size: contain;
		background-image: url('./../assets/scope/road.png');
		.consumer__scope__head{
			margin-top: 20px;
			font-family: $font-OpenSans-Bold;
    	font-size: 29px;
		}
		img{
			width: 65%;
		}
		.consumer__scope__summary{
			margin-top: 39px;
			font-family: $font-OpenSans-Semibold;
			font-size: 17px;
		}
	}
	.sub_section_title {
		margin: 9px 26px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px){
	.Consumer_scope_section{

		.carousel-indicators{
			display: none;
		}
		.consumer__scope__slide{
			text-align: center;
			background-repeat: no-repeat;
			background-position: center;
			height: 70vh;
			background-size: contain;
			background-image: url('./../assets/scope/road.png');
			.consumer__scope__head{
				margin-top: 20px;
			}
			img{

			}
			.consumer__scope__summary{
				margin-top: 39px;
			}
		}
	}
}



// video section css
.videosection_cards_layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  //width: 72%;
}
.videosection_card {
  background-color: #fff;
  width: 300px;
  height: 210px;
  margin-top: 23px;
  margin-right: 23px;
  padding: 12px;
  box-shadow: 0 4px 4px 0 rgba(178, 178, 178, 0.38);
}

.video_thumnail_image {
  box-shadow: 0 4px 4px 0 rgba(178, 178, 178, 0.38);
  background-color: #000;
  cursor: pointer;
  height: 125px;
  position: relative;
  .bgcover_image {
    width: 100%;
    opacity: 0.2;
    height: 100%;
  }
  .play_icon {
    opacity: 1;
    position: absolute;
    left: 43%;
    width: 36px;
    height: 36px;
    z-index: 999;
    top: 45px;
  }
}

.Product_title {
  font-family: $font-OpenSans-Bold;
  font-size: 12px;
  font-weight: 800;
  color: #515356;
  margin-top: 8px;
  margin-bottom: 5px;
}
.product_description {
  font-family: $font-OpenSans-Regular;
  font-size: 14px;
  color: #000000;
}

// faq section

.FAQ__section_layout {
	padding: 30px;
	//margin-bottom: 82px;
	h4 {
		font-family: $font-OpenSans-Regular;
		font-size: 12px;
		line-height: 2;
		color: #363636;
	}
	.card {
		margin-bottom: 10px;
    box-shadow: 0 20px 36px 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    border: none;
	}
}
