.services_section_intro {
  margin-top: $base50 + 9;
}
.services_toll_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $base30 0;
  img {
    margin-right: $base15;
  }
  p{
    margin: 0;
    font-family: $font-OpenSans-Bold;
    font-size: 26px;
    font-weight: bold;
    line-height: 0.92;
  }

}

.services__intro_toll_contnet {
  text-align: center;
  h3 {
    font-family: $font-OpenSans-Light;
    font-size: 33px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: #201f22;
  }
  p {
    font-family: $font-OpenSans-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #ccced3;
  }
  img {
    width: 323px;
    margin-top: 16px;
  }
  .want_to_merchant {
    text-decoration: underline;
    font-family: $font-OpenSans-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
  }
}

.services_section_title {
  font-family: $font-OpenSans-Bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border: 1px solid $color-toll;
  padding: $base10;
  width: 183px;
  margin: $base30 auto;
  border-radius: 4px;
  text-transform: uppercase;
}

.services_section_feature {
  text-align: center;
  margin-top: $base20;

  .feature_section_view {
    .img_view_section {
      border: 2px solid $color-toll;
      height: 128px;
      width: 128px;
      border-radius: 50%;
      text-align: center;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .feture__title {
    font-family: $font-OpenSans-Semibold;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.33;
    letter-spacing: normal;
    color: #363636;
    padding-top: $base20+5;
    margin: 0;
  }
  .feature__contnet {
    font-family: $font-OpenSans-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.81;
    letter-spacing: normal;
    color: #363636;
    padding: 0 $base30;
  }
}



.srvice_section_box{
  //height: 250px;
  //width: 16%;
  margin: 25px;
  text-align: center;

  p{
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
    margin-top: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.77;
    letter-spacing: normal;
    text-align: center;
    color: #363636;
  }

  .service__section{
    height: 126px;
    width: 126px;
  }
  .toll_service__section{
    // height: 126px;
    // width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fff 65%, rgba(250, 113, 115, 0.78) 35%);
    // box-shadow: 0px 0px 0px 5px #fa7173;
    border: 4px solid $color-toll;
    border-radius: 50%;
    margin: 0 auto;

    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }

}



// product
.procucts__cards_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .procucts__card {
    background-color: #fff;
    // width: 27%;
    // height: 250px;
    margin: 10px;
    box-shadow: 0 4px 4px 0 rgba(178, 178, 178, 0.38);
    padding: 14px 7px;

    .product__description {
      color: #000;
      font-family: $font-OpenSans-Regular;
      font-size: 12px;
    }
  }
  .medium_card {
    width: 21%;
  }
  .large_card {
    width: 36%;
    display: flex;
    justify-content: space-between;
    .procuct__image {
      height: 100%;
    }
  }

}

.Product_title {
  text-transform: uppercase;
}
.prdct_cost{
  font-family: $font-OpenSans-Bold;
  font-size: 21px;
  color: #ff6008;
}
.rupee_symbol_font {
  font-family: monospace;
}
.product__details {
  //width: 56%;
}
.procuct__image {
  text-align: center;
  width: 100%;
  //height: 133px;

  img {
    height: 100%;
    width: 100%;
  }
}

 //styling for merchant parking
 .Merchant_service_parking_main {
  .services_section_title{
    border: 1px solid $color-parking !important;
  }
  .img_view_section {
    border: 2px solid $color-parking !important;
  }
  
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .parking_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-parking  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-parking;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
 }

 //common logo style for merchant service
.services_common_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $base30 0;
  img {
    margin-right: $base15;
  }
  p{
    margin: 0;
    font-family: $font-OpenSans-Bold;
    font-size: 26px;
    font-weight: bold;
    line-height: 0.92;
  }

}

//styling for merchant retail
.Merchant_service_retail_main{
  .services_section_title{
    border: 1px solid $color-retail !important;
  }
  .img_view_section {
    border: 2px solid $color-retail !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .parking_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-retail  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-retail;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}
//styling for merchant bus
.Merchant_service_bus_main{
  .services_section_title{
    border: 1px solid $color-bus !important;
  }
  .img_view_section {
    border: 2px solid $color-bus !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .bus_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-bus  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-bus;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}

//styling for merchant metro
.Merchant_service_metro_main{
  .services_section_title{
    border: 1px solid $color-metro !important;
  }
  .img_view_section {
    border: 2px solid $color-metro !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .bus_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-metro  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-metro;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}

//styling for merchant railway
.Merchant_service_railway_main{
  .services_section_title{
    border: 1px solid $color-railways !important;
  }
  .img_view_section {
    border: 2px solid $color-railways !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .bus_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-railways  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-railways;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}
//styling for merchant education
.Merchant_service_education_main{
  .services_section_title{
    border: 1px solid $color-education !important;
  }
  .img_view_section {
    border: 2px solid $color-education !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .bus_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-education  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-education;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}


//styling for merchant access
.Merchant_service_access_main{
  .services_section_title{
    border: 1px solid $color-access !important;
  }
  .img_view_section {
    border: 2px solid $color-access !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .access_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-access  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-access;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}


//styling for merchant loyalty
.Merchant_service_loyalty_main{
  .services_section_title{
    border: 1px solid $color-loyalty !important;
  }
  .img_view_section {
    border: 2px solid $color-loyalty !important;
  }
  .services__sections__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .srvice_section_box {
      width: 34%;
      .loyalty_service__section{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-loyalty  35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-loyalty;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }
    }
    p {
      font-size: medium !important;
      margin-top: 14px !important;
      line-height: 1;
    }
  }
}
