.joinus__page_container {
  padding: 15px;
}
.joinuspage__close {
  padding: $base10 $base20;
}
.joinus__sub-header {
  color: #454545;
  text-align: center;
  letter-spacing: normal;
  h4 {
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
    line-height: 0.7;
    text-transform: uppercase;
    margin: 15px 0;
  }
  p {
    font-family: $font-OpenSans-Semibold;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
  }
}

.field_input_floating {
  margin-bottom: $base20;
}
.float_input_style{
  position: relative;
  border-bottom:2px solid rgba(35, 34, 38, 0.29);
  label {
    color:#454545;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
}

.floating-input , .floating-select {
  font-size:19px;
  font-family: $font-OpenSans-Semibold;
  font-weight: 600;
  line-height: 0.78;
  color: #454545;
  padding:4px 4px;
  display:block;
  width:100% !important;
  height:30px;
  background-color: transparent;
  border:none !important;
}

.floating-input:focus {
     outline:none;
     //border-bottom:2px solid #5264AE;
}



.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:14px;
  font-family: $font-OpenSans-Regular;
  line-height: 1.17;
  color: #454545;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
  font-size: 16px;
}


/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.joinus_submit {
  button {
    background: none;
    background-color: #38539b;
    border-radius: 24px;
    width: 100%;
    height: 45px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-family: $font-OpenSans-Semibold;
  }
}

.error_msg {
  color: $color-error;
  font-size: 15px;
  font-family: $font-OpenSans-Regular;
}
.mobile_text_area {
  margin-bottom: 20px;
  textarea {
    width: 100%;
    border: 2px solid rgb(198, 198, 198);
    min-height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
    padding: 5px 10px;
    font-size:14px;
    font-family: $font-OpenSans-Regular;
    line-height: 1.17;
    color: #454545;

  }
}

.captcha__section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.radio__button_usertype {
  text-align: center;
  margin-top: $base30 + 1;
  h4 {
    font-family: $font-OpenSans-Semibold;
    font-size: 17px;
    font-weight: 600;
    line-height: 0.88;
    text-align: center;
    color: #454545;
    margin: $base20+1 auto;
  }
  label {
    font-family:  $font-OpenSans-Semibold;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #454545;
  }




  // radio button custom css
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: $base20 + 8;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-right: $base20 + 3;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid $color-black;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $color-black;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}





// The gray background
.modal__popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.82);
  padding: 9px;
  z-index: 999;
};

// The modal "window"
.modal__popup_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding:10px;
};

.modal__popup_content_section {
  background-color:  #fff;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 13px;
  text-align: center;
}
.popup_footer {
  text-align: center;
  .popup_action_button {
    background: none;
    background-color: #2bb673;
    border-radius: 24px;
    //width: 100%;
    height: 35px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-family: $font-OpenSans-Bold;
    padding: 0 25px;
  }
}
//search bar
.search_bar_div{
  height: 6.5%;

  input {
    width: 80%;
    height: 100%;
    border: none;
  }
  button {
    height: 102%;
    border: none;
    width: 20%;
    background: #e8e8e8;
  }
}




.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}



.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before, &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #FFFFFF;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4CAF50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, .5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #FFFFFF;
    }
  }
}


@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}


@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}




// merchant_joinus css

.merchant_joinus_section {
  .merchant_joinus_form {
    background-color: #38539b;
    .joinus__form_header_title {
    }
    .consumer_landing_joinus_container {
    	padding-top: 17px;
    }
    .joinus__fom_content {
    	color: #fff;
    	padding: 20px;
      width: 100%;
    	h3 {
    		font-family: $font-OpenSans-Bold;
    	  font-size: 40px;
    	  line-height: 1.38;
    	}
    	p{
    		font-family: $font-OpenSans-Semibold;
    		font-size: 16px;
    		line-height: 1.25;
    		letter-spacing: 0.32px;
    	}
    }
    .joinus__services {
      h3 {
        font-family: $font-OpenSans-Bold;
    	  font-size: 20px;
    	  line-height: 1.38;
        text-transform: uppercase;
        color: #fff;
        padding:0 $base20;
      }
    }
    .joinus__fom_content_image {
    	width: 100%;

    	img {
        width: 100%;
    	}
    }
    .joinus_form_section {
      background-color: #fff;
      margin: 16px;
    }
    .merchant_joinus_doe_card_image {
      margin-top: $base20;
      img {
        width: 100%;
      }
    }

  }
  .select_type {
    select {
      width: 100%;
      border: none;
      border-radius: 0;
      background: none;
    }
  }
}

.text_area_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  textarea {
    border: 2px solid #b2b2b2;
  }
}
.msg_center {
  text-align: center;
}
