.partners_bgimage {
  position: relative;
  img {
    width: 100%;
  }
  h3 {
    font-family: $font-proximaSemibold;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: #ffffff;

    position: absolute;
    left: 9%;
    //top: 31px;
    bottom: 30px;
    text-transform: uppercase;
    width: 200px;
    letter-spacing: 1.5px
  }
}
.partners__content {
  display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    padding: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
  .partners__content_text {
    text-align: justify;
    padding: 10px 29px;
  }

  .content_tab{
    color: #838383;
    align-items: center;
    display: flex;
    font-family: $font-OpenSans-Bold;
    font-size: 11px;
    font-stretch: normal;
    text-transform: uppercase;
    font-style: normal;
    line-height: 2.18;
    letter-spacing: normal;
    span{
      color: rgba(112, 112, 112, 0.22);
      padding: 7px;
    }

    &.active{
      color: $color-customer;
    }
  }

  .skwed {
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    overflow: hidden;
    font-family: $font-proximaBold;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    width: 63%;
    height: 43px;
  }

  .skwed:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 78%;
    height: 86%;
    background: #4CAF50;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
  }
}
.our_partners_bio:last-child {
  border-bottom: none !important;
}
.our_partners {
  padding: 10px 15px;
  border-bottom: 15px solid $color-customer;

  .our_partners_bio{
    border-bottom: 1px solid #49bf87;
    margin-top: 25px;
    .partners__image{
      background: #171a35;
      padding: $base10;
      img{
        width:100%;
      }
    }
    .our_partners_name{
      font-size: 20px;
      font-family: $font-OpenSans-Bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: normal;
      text-align: left;
      margin: 16px auto;
      color: $color-customer;
    }
    .our_partners_subtitle{
      font-family: $font-OpenSans-Regular;
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color:#171a35;
    }
    .address_partners{
      font-family: $font-OpenSans-Regular;;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
    }
    .about_partners{
      font-family: $font-OpenSans-Regular;;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #000000a1;
    }
  }

}
