.aboutus_bgimage {
  position: relative;
  img {
    width: 100%;
  }
  h3 {
    font-family: $font-proximaSemibold;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: #ffffff;

    position: absolute;
    left: 9%;
    top: 31px;
    text-transform: uppercase;
    width: 200px;
    letter-spacing: 1.5px
  }
}

.skwed {
  position: relative;
  display: inline-block;
  padding: 4px 15px;
  overflow: hidden;
  font-family: $font-proximaBold;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  width: 55%;
  height: 43px;
}

.skwed:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 78%;
  height: 86%;
  background: #4CAF50;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}

.aboutus__content__image {
  position: relative;
  top: -98px;
  //left: 14px;
  right: 0;
  img {
    width: 100%;
  }
}

.aboutus__content__text {
  margin-top: -55px;
  padding: 0 27px;
   h4 {
      padding-bottom: $base20;
      font-family: $font-proximaSemibold;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #000000;
   }
   p {
      padding-bottom: $base20;
      font-family: $font-proximaRegular;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      color: #000000;
   }
}

.aboutus__scroll {
  background-image: linear-gradient(28deg, rgba(0, 0, 0, 0.52) 0%, rgba(24, 103, 65, 0.57) 52%, #2bb673 100%);
  background-color: #383838;
  color: $color-white;
  text-align: center;
  padding: 27px;
  padding-bottom: 43px;
  h3 {
    font-family: $font-proximaBold;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid $color-white;
    width: 143px;
    margin: auto;
  }
  .corusel_image_slider {
    padding: 33px 0;
  }
  .carousel-indicators {
    margin-bottom: -20px;
    li {
      width: 11px;
      height: 11px;
      border-radius: 50%;
    }
    .active {
      width: 23px;
      height: 13px;
    }
  }
}

.our_team_section {
  text-align: center;
  padding: 27px;
  h3 {
    font-family: $font-proximaBold;
    font-size: 22px;
    font-weight: bold;
    color: #676767;
    border-bottom: 2px solid #49bf87;
    width: 110px;
    margin: auto;
    margin-bottom: 15px;
  }
  .our_team_contnet {
    font-family: $font-proximaRegular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 15px 0;
  }

  .our_team__scroll{

    .corusel_image_slider {
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
    }
    .carousel-indicators {
      margin-bottom: -28px;
      li {
        width: 9px;
        height: 9px;
        background-color: #646464;
        border-radius: 50%;
      }
      .active {
        width: 16px;
        height: 9px;

        background-color: #000000;
      }
    }
  }
}

.team_member_profile {
  .member_profile_details {
    text-align: left;
    padding: 16px 0;
    margin-left: -8px;
    h4 {
      font-size: 13px;
      color: $color-black;
    }
    p{
      font-size: 13px;
      color: $color-black;
      opacity: 0.5;
    }
  }
}
.team__corusel_image {
  width: 115px;
  height: 117px;
  background-color: rgba(73, 191, 135, 0.18);
}

.team_member_image {
  height: 117px;
  // margin-top: $base10;
  // margin-right: $base10;
  img {
    width: 100%;
    height: 100%;
    position: relative;
    right: 9px;
    top: 8px;
  }
}
