@font-face {
  font-family: 'Proxima-Semibold';
  src: local('Proxima-Semibold'), url(../fonts/Proxima/ProximaNovaSemibold.ttf) format('truetype');
}

@font-face {
  font-family: 'Proxima-Bold';
  src: local('Proxima-Bold'), url(../fonts/Proxima/ProximaNovaBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Proxima-Regular';
  src: local('Proxima-Regular'), url(../fonts/Proxima/ProximaNovaRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'Proxima-Light';
  src: local('Proxima-Light'), url(../fonts/Proxima/ProximaNovaLight.ttf) format('truetype');
}

/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Bold
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Bold';
    src: local('OpenSans-Bold'), url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: local('OpenSans-Bold'), url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Regular
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Regular';
    src:local('OpenSans-Regular'), url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src:local('OpenSans-Regular'), url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Semibold
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Semibold';
    src:local('OpenSans-Semibold'), url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
    src:local('OpenSans-Semibold'), url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
    //src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Light
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Light';
    src:local('OpenSans-Light'), url('../fonts/open-sans/OpenSans-Light-webfont.eot');
    src:local('OpenSans-Light'), url('../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

// colors
$color-white     : #fff;
$color-black     : #000;
$color-error     : #ff0000;

$color-customer  : #2bb673;
$color-office    : #000080;
$color-parking   : #1a9d94;
$color-metro     : #4f8eed;
$color-bus       : #7d31a6;
$color-toll      : #fa7173;
$color-retail    : #e17813;
$color-education : #9b0344;
$color-residence : #faa83c;
$color-railways  : #df4f4f;
$color-access    : #b2bf50;
$color-loyalty   : #d5ad56;

// font-family
$font-proximaSemibold : Proxima-Semibold;
$font-proximaBold     : Proxima-Bold;
$font-proximaRegular  : Proxima-Regular;
$font-proximaLight    : Proxima-Light;

$font-OpenSans-Bold : OpenSans-Bold;
$font-OpenSans-Semibold : OpenSans-Semibold;
$font-OpenSans-Regular : OpenSans-Regular;
$font-OpenSans-Light : OpenSans-Light;

$base5  : 5px;
$base10 : 10px;
$base15 : 15px;
$base20 : 20px;
$base30 : 30px;
$base50 : 50px;
